In [1]:
import pandas as pd

In [2]:
#read the excel sheet
df= pd.read_excel('fictional_richest_people.xlsx')

In [3]:
#print out 10 random samples of the dataframe
df.sample(10)

,Name,Email,Website,Phone Number,Net Worth
30,Amber Mercer,NaN,http://flowers-osborne.info/,001-342-957-9788x124,$46 billion
28,ì˜¤ëª…ìˆ™,hyeonjun22@hotmail.com,https://angimo.com/,NaN,$34 billion
35,éˆ´æœ¨ çŸ¥å®Ÿ,NaN,http://kondo.com/,070-8335-7090,$196 billion
38,Andrea Thorsen,alfhaugland@yahoo.com,http://solheim.net/,69916701,$12 billion
45,é™ˆæ¡‚è£,NaN,http://uy.cn/,14599804438,$151 billion
22,ì˜¤ìˆ˜ë¹ˆ,jiyeonggim@hanmail.net,http://ju.com/,033-427-6616,$151 billion
36,Nicole Collier,georgemorris@gmail.com,https://www.johnson.biz/,NaN,$165 billion
40,ë°°ì€ì •,NaN,https://www.igim.com/,NaN,$99 billion
17,è¥¿æ‘ æ¡ƒå­,takumanakajima@yahoo.com,http://www.kato.net/,84-5006-8140,$92 billion
48,Maria Contreras,daniel01@gmail.com,https://www.green-hanna.com/,NaN,$2 billion

In [4]:
#check the datatype of each coloumn
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Email         40 non-null     object
 2   Website       50 non-null     object
 3   Phone Number  37 non-null     object
 4   Net Worth     50 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [18]:
#Who is the richest in this list?

In [19]:
# Convert the 'Net Worth' column to string dtype
df['Net Worth'] = df['Net Worth'].astype(str)

# Define the regular expression pattern
pattern = r'(\d+)'

# Extract the number from each string using the regular expression
extracted_number = df['Net Worth'].str.extract(pattern, expand=False)

# Convert the extracted numbers from strings to integers or floats if needed
extracted_number = pd.to_numeric(extracted_number)

print("Extracted numbers:")
print(extracted_number)

Extracted numbers:
0      74
1      66
2      74
3     123
4     126
5     144
6      90
7     148
8      42
9      56
10    171
11    189
12     17
13    175
14     11
15    123
16    184
17     92
18    112
19    183
20     82
21    108
22    151
23    163
24     15
25     69
26     46
27     24
28     34
29      2
30     46
31    168
32    123
33    155
34    125
35    196
36    165
37     18
38     12
39     25
40     99
41    143
42     11
43     69
44    100
45    151
46    185
47    186
48      2
49     15
Name: Net Worth, dtype: int64

In [10]:
# Find the index of the row where the maximum net worth occurs
max_index = extracted_number.idxmax()

# Access the name of the person at the corresponding index
person_name = df.loc[max_index, 'Name']

print("Name of the person with the maximum net worth:", person_name)

Name of the person with the maximum net worth: éˆ´æœ¨ çŸ¥å®Ÿ

In [14]:
#How many people are without an email?

In [15]:
num_people_without_email = df['Email'].isnull().sum()

print("Number of people without an email:", num_people_without_email)

Number of people without an email: 10

In [16]:
#How many people are without phone numbers?

In [17]:
num_people_without_ph = df['Phone Number'].isnull().sum()

print("Number of people without contact:", num_people_without_ph)

Number of people without contact: 13