In [1]:
import pandas as pd

In [2]:
#read the excel sheet
df= pd.read_excel('fictional_richest_people.xlsx')

In [3]:
#print out 10 random samples of the dataframe
df.sample(10)

,Name,Email,Website,Phone Number,Net Worth
24,Stephen Browning,andrew92@hotmail.com,https://www.delacruz-cobb.com/,NaN,$15 billion
35,éˆ´æœ¨ çŸ¥å®Ÿ,NaN,http://kondo.com/,070-8335-7090,$196 billion
6,Deanna Bender,rvasquez@gmail.com,https://arnold.net/,4839936016,$90 billion
5,ç”°ä¸­ é‡Œä½³,NaN,https://tanaka.net/,070-8821-2415,$144 billion
44,Eirik-Erling Moe,larsenlaila@hotmail.com,https://aas.no/,NaN,$100 billion
28,ì˜¤ëª…ìˆ™,hyeonjun22@hotmail.com,https://angimo.com/,NaN,$34 billion
3,çŽ‹è¶…,hgu@gmail.com,http://www.73.net/,18099330306,$123 billion
49,Advik Sahni,oarya@gmail.com,http://vasa.biz/,439778837,$15 billion
11,ä½ã€…æœ¨ ç›´å­,takumasuzuki@yahoo.com,http://fujiwara.com/,080-4699-4757,$189 billion
38,Andrea Thorsen,alfhaugland@yahoo.com,http://solheim.net/,69916701,$12 billion

In [4]:
#check the datatype of each coloumn
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Email         40 non-null     object
 2   Website       50 non-null     object
 3   Phone Number  37 non-null     object
 4   Net Worth     50 non-null     object
dtypes: object(5)
memory usage: 2.1+ KB

In [ ]:
1. Who is the richest in this list?

In [58]:
# Find the index of the row where the maximum net worth occurs
max_index = extracted_number.idxmax()

# Access the name of the person at the corresponding index
person_name = df.loc[max_index, 'Name']

print("Name of the person with the maximum net worth:", person_name)

Name of the person with the maximum net worth: éˆ´æœ¨ çŸ¥å®Ÿ

In [ ]:
2. How many people are without an email?

In [35]:
num_people_without_email = df['Email'].isnull().sum()

print("Number of people without an email:", num_people_without_email)

Number of people without an email: 10

In [ ]:
3. How many people are without phone numbers?

In [37]:
num_people_without_ph = df['Phone Number'].isnull().sum()

print("Number of people without contact:", num_people_without_ph)

Number of people without contact: 13